---
layout: base
css: [timeline.css]

title: Home
description: Brennen Muller's website portfolio.
---

<header>
  <h1>Brennen Muller</h1>
  <h2>Web Developer</h2>
</header>

<main>
  <section>
    <h2>Skills / Experience</h2>
    ...
  </section>

  <section class="timeline dark">
    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for project in projects limit:5 %}
      {% include timeline-item.html %}
    {% endfor %}
  </section>

  <section>
    Contact
  </section>

</main>

<footer>
  <small>
    &copy; 2025 Brennen Muller
  </small>
</footer>