<header class="my-2 w-100 {% if page.transparent-header %} absolute {% endif %}">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="/">Brennen</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle main navigation menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/curriculum-vitae/">Curriculum Vitae</a>
          </li>
          <!--
            <li class="nav-item dropdown">`
              <a class="nav-link dropdown-toggle" href="#" id="IDENTIFIER1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">...</a>
              <div class="dropdown-menu" aria-labelledby="IDENTIFIER1">
                <a class="dropdown-item" href="#">...</a>
                <a class="dropdown-item" href="#">...</a>
                <a class="dropdown-item" href="#">...</a>
              </div>
            </li>
          -->
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
