@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Light.ttf);
    font-weight: lighter;
}

:root {
    --color-info: #0dcaf0;
    --color-default: #ced4da;
    --color-emphasis: #f8f9fa;
}

body {
    font-family: "Quicksand", "Segoe UI";
    color: var(--color-default);
}

header {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-emphasis);
}

p {
    margin-bottom: 0.5rem;
}

.absolute {
    position: absolute;
}

.text-emphasis {
    color: var(--color-emphasis);
}

.fs-7 {
    font-size: 0.9rem !important;
}

.fs-8 {
    font-size: 0.75rem !important;
}

.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: xx-large;
}

.nav-link {
    font-size: large;
}

.list-group-item {
    color: var(--color-default);
}

.link {
    text-decoration: none;
    color: rgb(100, 170, 220);
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.link:hover {
    color: rgb(70, 130, 175);
}

.icon {
    height: 1em;
    width: auto;
    vertical-align: -0.125em;
}