<!doctype html>
<html lang="en" data-bs-theme="dark">
  {% include head.liquid %}
  <body class="bg-dark-subtle">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    {% include header.liquid %}

    {% if page['background-image'] %}
      <img src="{{ page.background-image }}" class="w-100" alt>
    {% endif %}

    <noscript>
      <div class="alert alert-warning" role="alert">
        Warning: scripts have been disabled. Unexpected issues may occur.
      </div>
    </noscript>

    <main class="container">
      {{ content }}
    </main>

    {% include footer.liquid %}
  </body>
</html>
